<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MRI Energy Testng XML Test Suite">
    <listeners>
        <listener class-name="basicTemplate.configs.listener">
        </listener>
    </listeners>

    <!--   Method Runner-->
        <test name="Login Smoke Test Execution ">
            <parameter name="Browser" value="chrome"/>
            <classes>
                <class name="basicTemplate.pages.login"/>
            </classes>
        </test>

    <!--   Tests Runner-->
    <test name="Test Execution with Runner">
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="runner.testRunner"/>
        </classes>
    </test>


</suite>